<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        {{ 'nav.brand' | translate }}
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
            *ngIf="isLoggedIn"
          >
            <a class="nav-link text-dark" [routerLink]="['/vehicles']">
              {{ 'nav.vehicles' | translate }}
            </a>
          </li>

          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
            *ngIf="isLoggedIn"
          >
            <a class="nav-link text-dark" [routerLink]="['/vehicles/new']">
              {{ 'nav.new' | translate }}
            </a>
          </li>
        </ul>

        <!-- Language Selector & Auth Section -->
        <div class="navbar-nav ms-auto d-flex align-items-center gap-2">
          <app-language-selector></app-language-selector>
          
          <div *ngIf="isLoggedIn" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown">
              <i class="fa fa-user"></i> {{ currentUser?.fullName || ('auth.username' | translate) }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">{{ 'auth.myProfile' | translate }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">
                <i class="fa fa-sign-out"></i> {{ 'auth.logout' | translate }}
              </a></li>
            </ul>
          </div>

          <div *ngIf="!isLoggedIn" class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/login']">
              <i class="fa fa-sign-in"></i> {{ 'auth.login' | translate }}
            </a>
          </div>

          <div *ngIf="!isLoggedIn" class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/register']">
              <i class="fa fa-user-plus"></i> {{ 'auth.register' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
