<h1>Vehicles</h1>
<a class="btn btn-primary" [routerLink]="['/vehicle/new']">New Vehicle</a>
<div class="well">
  <div class="form-group">
    <label for="make">Make</label>
    <select name="makeId" class="form-control" [(ngModel)]="query.makeId" (change)="onFilterChange()" #make="ngModel" >
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{ m.id}}" >{{m.name}}</option>
    </select>
    <button class="btn btn-secondary" (click)="resetFilter()">Reset</button>
  </div>
</div>

<div class="">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col" (click)="sortBy('make')" >Make
          <fa-icon icon="coffee"></fa-icon>
        </th>
        <th scope="col" (click)="sortBy('model')" >Model</th>
        <th scope="col" (click)="sortBy('contactName')">Contact Name</th>
        <th scope="col" >View</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of vehicles">
        <td>{{v.id }}</td>
        <td>{{v.make.id }}</td>
        <td>{{v.model.id }}</td>
        <td>{{v.contact.name }}</td>
        <td>View</td>
      </tr>
    </tbody>
  </table>
</div>
<app-pagination [totalItems]="10" [pageSize]="3" (pageChanged)="onPageChange($event)"></app-pagination>
