<h1 class="mb-4">{{ 'vehicle.title' | translate }}</h1>

<a
  class="btn btn-primary mb-3"
  [routerLink]="['/vehicles/new']"
>
  {{ 'vehicle.addNew' | translate }}
</a>
<div class="card mb-4">
  <div class="card-body">
    <div class="row align-items-end">
      <div class="col-md-4">
        <label for="make" class="form-label">
          {{ 'vehicle.make' | translate }}
        </label>

        <select
          id="make"
          name="makeId"
          class="form-select"
          [(ngModel)]="query.makeId"
          (change)="onFilterChange()"
          #make="ngModel"
        >
          <option value=""></option>
          <option
            *ngFor="let m of makes"
            [value]="m.id"
          >
            {{ m.name }}
          </option>
        </select>
      </div>

      <div class="col-md-2">
        <button
          class="btn btn-secondary w-100"
          (click)="resetFilter()"
        >
          {{ 'vehicle.reset' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover align-middle">
    <thead>
      <tr>
        <th scope="col">Id</th>

        <th scope="col" (click)="sortBy('make')" style="cursor: pointer;">
          {{ 'vehicle.make' | translate }}
          <fa-icon class="ms-1"></fa-icon>
        </th>

        <th scope="col" (click)="sortBy('model')" style="cursor: pointer;">
          {{ 'vehicle.model' | translate }}
        </th>

        <th scope="col" (click)="sortBy('contactName')" style="cursor: pointer;">
          {{ 'vehicle.contactName' | translate }}
        </th>

        <th scope="col">
          {{ 'vehicle.view' | translate }}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let v of vehicles">
        <td>{{ v.id }}</td>
        <td>{{ v.make.name }}</td>
        <td>{{ v.model.name }}</td>
        <td>{{ v.contact.name }}</td>
        <td>
          <a
            class="btn btn-sm btn-outline-primary"
            [routerLink]="['/vehicles', v.id]"
          >
            {{ 'vehicle.view' | translate }}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-pagination
  [totalItems]="10"
  [pageSize]="3"
  (pageChanged)="onPageChange($event)"
>
</app-pagination>
  